In [1]:
#Importing modules

import pandas as pd
import requests
import json
from pandas import json_normalize
import numpy as np

In [2]:
# Reading csv file & store it as DF
file_path_capsules = "Resources/capsules.csv"
capsules_df = pd.read_csv(file_path_capsules)

# Display DF
capsules_df

,capsule_id,serial,status,reuse_count,water_landings,land_landings
0,5e9e2c5bf35918ed873b2664,C101,retired,1,1,0
1,5e9e2c5bf3591882af3b2665,C102,retired,1,1,0
2,5e9e2c5bf3591835983b2666,C103,unknown,1,1,0
3,5e9e2c5bf359189ef23b2667,C104,unknown,1,1,0
4,5e9e2c5bf3591859a63b2668,C105,unknown,1,1,0
5,5e9e2c5bf3591880643b2669,C106,active,3,3,0
6,5e9e2c5bf35918165f3b266a,C107,unknown,1,1,0
7,5e9e2c5cf359188bfb3b266b,C108,active,3,3,0
8,5e9e2c5cf35918407d3b266c,C109,destroyed,1,1,0
9,5e9e2c5cf3591885d43b266d,C110,active,2,2,0
10,5e9e2c5cf359183bb73b266e,C111,active,2,2,0
11,5e9e2c5cf359185d753b266f,C112,active,3,3,0
12,5e9e2c5cf3591869b63b2670,C113,active,2,2,0
13,5e9e2c5df35918b1063b2671,C201,active,1,1,0
14,5e9e2c5df359184c9a3b2672,C205,active,1,1,0
15,5e9e2c5df3591849f93b2673,C202,active,0,0,0
16,5e9e2c5df359184b793b2674,C203,active,0,0,0
17,5e9e2c5df359185f973b2675,C204,active,0,0,0
18,5e9e2c5df359188aba3b2676,C206,active,1,1,0
19,5f6f99fddcfdf403df379709,C207,active,0,0,0

In [3]:
# Rename of column
capsules_df.rename(columns = {'serial':'capsule_serial'}, inplace = True)

# Display preview of DF
capsules_df.head()

,capsule_id,capsule_serial,status,reuse_count,water_landings,land_landings
0,5e9e2c5bf35918ed873b2664,C101,retired,1,1,0
1,5e9e2c5bf3591882af3b2665,C102,retired,1,1,0
2,5e9e2c5bf3591835983b2666,C103,unknown,1,1,0
3,5e9e2c5bf359189ef23b2667,C104,unknown,1,1,0
4,5e9e2c5bf3591859a63b2668,C105,unknown,1,1,0

In [4]:
# Drop column from DF
capsules_df=capsules_df.drop(["capsule_id"],axis =1)

# Display DF
capsules_df

   capsule_serial     status  reuse_count  water_landings  land_landings
0            C101    retired            1               1              0
1            C102    retired            1               1              0
2            C103    unknown            1               1              0
3            C104    unknown            1               1              0
4            C105    unknown            1               1              0
5            C106     active            3               3              0
6            C107    unknown            1               1              0
7            C108     active            3               3              0
8            C109  destroyed            1               1              0
9            C110     active            2               2              0
10           C111     active            2               2              0
11           C112     active            3               3              0
12           C113     active            2               2              0
13           C201     active            1               1              0
14           C205     active            1               1              0
15           C202     active            0               0              0
16           C203     active            0               0              0
17           C204     active            0               0              0
18           C206     active            1               1              0
19           C207     active            0               0              0

In [5]:
# URL for GET requests to retrieve capsules data
url = "https://api.spacexdata.com/v3/capsules"

# Retriving capsule data
capsules_json_response = requests.get(url).json()

# Print the json response
print(json.dumps(capsules_json_response, indent=4, sort_keys=True))

[
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C101",
        "details": "Reentered after three weeks in orbit",
        "landings": 1,
        "missions": [
            {
                "flight": 7,
                "name": "COTS 1"
            }
        ],
        "original_launch": "2010-12-08T15:43:00.000Z",
        "original_launch_unix": 1291822980,
        "reuse_count": 0,
        "status": "retired",
        "type": "Dragon 1.0"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C102",
        "details": "First Dragon spacecraft",
        "landings": 1,
        "missions": [
            {
                "flight": 8,
                "name": "COTS 2"
            }
        ],
        "original_launch": "2012-05-22T07:44:00.000Z",
        "original_launch_unix": 1335944640,
        "reuse_count": 0,
        "status": "retired",
        "type": "Dragon 1.0"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C103",
        "details": "First of twenty missions flown under the CRS1 contract",
        "landings": 1,
        "missions": [
            {
                "flight": 9,
                "name": "CRS-1"
            }
        ],
        "original_launch": "2012-10-08T00:35:00.000Z",
        "original_launch_unix": 1349656500,
        "reuse_count": 0,
        "status": "unknown",
        "type": "Dragon 1.0"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C104",
        "details": null,
        "landings": 1,
        "missions": [
            {
                "flight": 10,
                "name": "CRS-2"
            }
        ],
        "original_launch": "2013-03-01T19:10:00.000Z",
        "original_launch_unix": 1362165000,
        "reuse_count": 0,
        "status": "unknown",
        "type": "Dragon 1.0"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C105",
        "details": "First Dragon v1.1 capsule",
        "landings": 1,
        "missions": [
            {
                "flight": 14,
                "name": "CRS-3"
            }
        ],
        "original_launch": "2014-04-18T19:25:00.000Z",
        "original_launch_unix": 1397849100,
        "reuse_count": 0,
        "status": "unknown",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C106",
        "details": "First Dragon capsule to be reused",
        "landings": 3,
        "missions": [
            {
                "flight": 18,
                "name": "CRS-4"
            },
            {
                "flight": 41,
                "name": "CRS-11"
            },
            {
                "flight": 85,
                "name": "CRS-19"
            }
        ],
        "original_launch": "2014-09-21T05:52:00.000Z",
        "original_launch_unix": 1411278720,
        "reuse_count": 2,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C107",
        "details": null,
        "landings": 1,
        "missions": [
            {
                "flight": 19,
                "name": "CRS-5"
            }
        ],
        "original_launch": "2015-01-10T09:47:00.000Z",
        "original_launch_unix": 1420883220,
        "reuse_count": 0,
        "status": "unknown",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C108",
        "details": "Second Dragon capsule to be reused",
        "landings": 3,
        "missions": [
            {
                "flight": 22,
                "name": "CRS-6"
            },
            {
                "flight": 51,
                "name": "CRS-13"
            },
            {
                "flight": 82,
                "name": "CRS-18"
            }
        ],
        "original_launch": "2015-04-14T20:10:00.000Z",
        "original_launch_unix": 1429042200,
        "reuse_count": 2,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C109",
        "details": "Destroyed on impact after F9 launch failure",
        "landings": 0,
        "missions": [
            {
                "flight": 24,
                "name": "CRS-7"
            }
        ],
        "original_launch": "2015-06-28T14:21:00.000Z",
        "original_launch_unix": 1435501260,
        "reuse_count": 0,
        "status": "destroyed",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C110",
        "details": null,
        "landings": 2,
        "missions": [
            {
                "flight": 28,
                "name": "CRS-8"
            },
            {
                "flight": 59,
                "name": "CRS-14"
            }
        ],
        "original_launch": "2016-04-08T20:43:00.000Z",
        "original_launch_unix": 1460148180,
        "reuse_count": 1,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C111",
        "details": null,
        "landings": 2,
        "missions": [
            {
                "flight": 32,
                "name": "CRS-9"
            },
            {
                "flight": 64,
                "name": "CRS-15"
            }
        ],
        "original_launch": "2016-07-18T04:45:00.000Z",
        "original_launch_unix": 1468817100,
        "reuse_count": 1,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C112",
        "details": null,
        "landings": 3,
        "missions": [
            {
                "flight": 36,
                "name": "CRS-10"
            },
            {
                "flight": 72,
                "name": "CRS-16"
            },
            {
                "flight": 91,
                "name": "CRS-20"
            }
        ],
        "original_launch": "2017-02-19T14:39:00.000Z",
        "original_launch_unix": 1487515140,
        "reuse_count": 2,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon1",
        "capsule_serial": "C113",
        "details": "The last newly manufactured Dragon 1",
        "landings": 2,
        "missions": [
            {
                "flight": 45,
                "name": "CRS-12"
            },
            {
                "flight": 78,
                "name": "CRS-17"
            }
        ],
        "original_launch": "2017-08-14T16:31:00.000Z",
        "original_launch_unix": 1502728260,
        "reuse_count": 1,
        "status": "active",
        "type": "Dragon 1.1"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C201",
        "details": "Destroyed in a test anomaly at LZ-1 on April 20, 2019",
        "landings": 1,
        "missions": [
            {
                "flight": 76,
                "name": "CCtCap Demo Mission 1"
            }
        ],
        "original_launch": "2019-03-02T07:45:00.000Z",
        "original_launch_unix": 1551512700,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C205",
        "details": "In construction for use in first mission in contract under the CCtCap contract",
        "landings": 1,
        "missions": [
            {
                "flight": 88,
                "name": "Crew Dragon In Flight Abort Test"
            }
        ],
        "original_launch": "2020-01-19T14:00:00.000Z",
        "original_launch_unix": 1579442400,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C206",
        "details": "In Hawthorne, CA as of October 11, 2019. Seen in background during Musk/Bridenstine press conference.",
        "landings": 1,
        "missions": [
            {
                "flight": 94,
                "name": "CCtCap Demo Mission 2"
            }
        ],
        "original_launch": "2020-05-30T19:22:00.000Z",
        "original_launch_unix": 1590866520,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C202",
        "details": "Capsule used to qualify Dragon 2's environmental control and life support systems.",
        "landings": 0,
        "missions": [],
        "original_launch": null,
        "original_launch_unix": null,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C203",
        "details": "Rumored to be used for Inflight Abort Test after DM-1",
        "landings": 0,
        "missions": [],
        "original_launch": null,
        "original_launch_unix": null,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    },
    {
        "capsule_id": "dragon2",
        "capsule_serial": "C204",
        "details": "Currently in construction for use in DM-2",
        "landings": 0,
        "missions": [],
        "original_launch": null,
        "original_launch_unix": null,
        "reuse_count": 0,
        "status": "active",
        "type": "Dragon 2.0"
    }
]

In [7]:
# Add two columns to DF
capsules_df['capsule_id']=''
capsules_df['type']=''

# Add capsule_id & capsule type to DF from API response
for index,row in capsules_df.iterrows():
     for result in capsules_json_response:
        if result["capsule_serial"] == row["capsule_serial"]:
            capsules_df.loc[index,"capsule_id"] = result["capsule_id"]
            capsules_df.loc[index,"type"] = result["type"]

# Display DF
capsules_df

,capsule_serial,status,reuse_count,water_landings,land_landings,capsule_id,type
0,C101,retired,1,1,0,dragon1,Dragon 1.0
1,C102,retired,1,1,0,dragon1,Dragon 1.0
2,C103,unknown,1,1,0,dragon1,Dragon 1.0
3,C104,unknown,1,1,0,dragon1,Dragon 1.0
4,C105,unknown,1,1,0,dragon1,Dragon 1.1
5,C106,active,3,3,0,dragon1,Dragon 1.1
6,C107,unknown,1,1,0,dragon1,Dragon 1.1
7,C108,active,3,3,0,dragon1,Dragon 1.1
8,C109,destroyed,1,1,0,dragon1,Dragon 1.1
9,C110,active,2,2,0,dragon1,Dragon 1.1
10,C111,active,2,2,0,dragon1,Dragon 1.1
11,C112,active,3,3,0,dragon1,Dragon 1.1
12,C113,active,2,2,0,dragon1,Dragon 1.1
13,C201,active,1,1,0,dragon2,Dragon 2.0
14,C205,active,1,1,0,dragon2,Dragon 2.0
15,C202,active,0,0,0,dragon2,Dragon 2.0
16,C203,active,0,0,0,dragon2,Dragon 2.0
17,C204,active,0,0,0,dragon2,Dragon 2.0
18,C206,active,1,1,0,dragon2,Dragon 2.0
19,C207,active,0,0,0,,

In [8]:
# Rearrange the columns & display DF
capsules_df2=capsules_df.reindex(columns= ['capsule_serial', 'capsule_id', 'status','type','reuse_count','water_landings','land_landings'])

capsules_df2.head()

,capsule_serial,capsule_id,status,type,reuse_count,water_landings,land_landings
0,C101,dragon1,retired,Dragon 1.0,1,1,0
1,C102,dragon1,retired,Dragon 1.0,1,1,0
2,C103,dragon1,unknown,Dragon 1.0,1,1,0
3,C104,dragon1,unknown,Dragon 1.0,1,1,0
4,C105,dragon1,unknown,Dragon 1.1,1,1,0

In [9]:
# Drop any missing values
capsules_df2 = capsules_df2.replace('', np.nan, regex=True)
capsules_df2 = capsules_df2.dropna(how='any')
capsules_df2

,capsule_serial,capsule_id,status,type,reuse_count,water_landings,land_landings
0,C101,dragon1,retired,Dragon 1.0,1,1,0
1,C102,dragon1,retired,Dragon 1.0,1,1,0
2,C103,dragon1,unknown,Dragon 1.0,1,1,0
3,C104,dragon1,unknown,Dragon 1.0,1,1,0
4,C105,dragon1,unknown,Dragon 1.1,1,1,0
5,C106,dragon1,active,Dragon 1.1,3,3,0
6,C107,dragon1,unknown,Dragon 1.1,1,1,0
7,C108,dragon1,active,Dragon 1.1,3,3,0
8,C109,dragon1,destroyed,Dragon 1.1,1,1,0
9,C110,dragon1,active,Dragon 1.1,2,2,0
10,C111,dragon1,active,Dragon 1.1,2,2,0
11,C112,dragon1,active,Dragon 1.1,3,3,0
12,C113,dragon1,active,Dragon 1.1,2,2,0
13,C201,dragon2,active,Dragon 2.0,1,1,0
14,C205,dragon2,active,Dragon 2.0,1,1,0
15,C202,dragon2,active,Dragon 2.0,0,0,0
16,C203,dragon2,active,Dragon 2.0,0,0,0
17,C204,dragon2,active,Dragon 2.0,0,0,0
18,C206,dragon2,active,Dragon 2.0,1,1,0

In [10]:
# Write capsule data to csv
capsules_df2.to_csv("Clean_CSV/capsules_final.csv", index=False, header=True)